[submodule "hypnotix-wayland"]
	path = hypnotix-wayland
	url = https://aur.archlinux.org/hypnotix-wayland.git
[submodule "subdomainizer"]
	path = subdomainizer
	url = https://aur.archlinux.org/subdomainizer.git
[submodule "python-cipheydists"]
	path = python-cipheydists
	url = https://aur.archlinux.org/python-cipheydists.git
[submodule "python-base91"]
	path = python-base91
	url = https://aur.archlinux.org/python-base91.git
[submodule "python-cipheycore"]
	path = python-cipheycore
	url = https://aur.archlinux.org/python-cipheycore.git
[submodule "python-pywhat"]
	path = python-pywhat
	url = https://aur.archlinux.org/python-pywhat.git
[submodule "ciphey"]
	path = ciphey
	url = https://aur.archlinux.org/ciphey.git
[submodule "rain"]
	path = rain
	url = https://aur.archlinux.org/rain.git
